<launch>
    <arg name="ip"/>
    <arg name="camera_lx" default="10"/>
    <arg name="camera_rx" default="4"/>
    <arg name="ip_cameras" default="192.168.43.210"/>
    <rosparam file="$(find realsense)/src/camera_setting.yaml" ns="camera"/>
    <machine name="turtlebot3-raspberry" address="$(arg ip)" user="ubuntu" password="turtlebot" env-loader="/home/ubuntu/realsense/catkin_ws/devel/realsense_env.sh"/>
    <node machine="turtlebot3-raspberry" name="realsense_lx" type="realsense_lx.py" pkg="realsense" output="screen">
        <param name="camera_lx" type="int" value="$(arg camera_lx)"/>
        <param name="camera_rx" type="int" value="$(arg camera_rx)"/>
        <param name="ip_cameras" type="str" value="$(arg ip_cameras)"/>
    </node>
    <node machine="turtlebot3-raspberry" name="realsense_rx" type="realsense_rx.py" pkg="realsense" output="screen">
        <param name="camera_lx" type="int" value="$(arg camera_lx)"/>
        <param name="camera_rx" type="int" value="$(arg camera_rx)"/>
        <param name="ip_cameras" type="str" value="$(arg ip_cameras)"/>
    </node>
</launch>