<launch>
    <arg name="ip"/>
    <arg name="camera_lx" default="10"/>
    <arg name="camera_rx" default="4"/>
    <rosparam file="$(find realsense)/src/camera_setting.yaml" ns="camera"/>
    <node name="realsense" type="realsense_new.py" pkg="realsense" output="screen" ns="camera/lx">
    </node>
</launch>
